<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sikeres regisztráció - eCaly</title>
    <link rel="stylesheet" href="css/confirmation-email.css">
    <link rel="icon" type="favicon-48" href="img/logo.png">
</head>

<body>
    <div class="container">
    
        <header>
            <span id="header-background"></span>
            <img src="img/logo-full.png" alt="logo">
            <h1>Sikeres regisztráció</h1>
            <a href="index.html" id="login">Bejelentkezés</a>
        </header>

    <main>
    <h2>Gratulálunk!</h2>
    <span id="main-span">Köszönjük, hogy regisztráltál az oldalra!</span>
    <span id="main-span">Kattints a bejelentkezés gombra a folytatáshoz!</span>
    </main>
</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="js/main.js">
  </script>

</html>