<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kezelőfelület - eCaly</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="icon" type="favicon-48" href="img/logo.png">

</head>

<body>
    <div class="container">
        <header>Kezelőfelület</header>
        <nav>
            <img src="img/logo.png" alt="logo">
            <!-- <a href="homepage.html"><img src="img/home-icon.png"></a>
            <a href=""><img src="img/calendar-icon.png"></a>
            <a href=""><img src="img/time-icon.png"></a>
            <a href=""><img src="img/service-icon-2.png"></a>-->
            <a href="index.html"> <img src="img/logout-icon.png" alt="logout"></a>

        </nav>
        <main>
            <h3>Közelgő időpontok</h3>
        </main>
        <div class="content1">
            <div class="name-label"><span class="bg-item1">
                    <div class="employer-name">Molnár Tünde</div>
                </span> </div>
            <div class="activity-content">
                <span><img class="calendar-small-icon" src="img/calendar-icon-2.png" alt="calendar-icon">Férfi
                    hajvágás</span>
                <ul>
                    <li>Férfi hajvágás</li>
                    <li>3 500 Ft</li>
                    <li>06 30 289 5566</li>
                </ul>
                <p>Rögzítve 12:30-kor Molnár Tünde által</p>
            </div>
        </div>
        <div class="content2">
            <div class="name-label">
                <span class="bg-item2">
                    <div class="employer-name">Nagy Árpád</div>
                </span>
            </div>
            <div class="activity-content">
                <span><img class="calendar-small-icon" src="img/calendar-icon-2.png" alt="calendar-icon">Férfi
                    hajvágás</span>
                <ul>
                    <li>Férfi hajvágás</li>
                    <li>3 500 Ft</li>
                    <li>06 30 289 5566</li>
                </ul>
                <p>Rögzítve 12:30-kor Molnár Tünde által</p>
            </div>
        </div>
        <div class="content3">
            <div class="name-label">
                <span class="bg-item3">
                    <div class="employer-name">Nagy Árpád</div>
                </span>
            </div>
            <div class="activity-content">
                <span><img class="calendar-small-icon" src="img/calendar-icon-2.png" alt="calendar-icon">Férfi
                    hajvágás</span>
                <ul>
                    <li>Férfi hajvágás</li>
                    <li>3 500 Ft</li>
                    <li>06 30 289 5566</li>
                </ul>
                <p>Rögzítve 12:30-kor Molnár Tünde által</p>
            </div>
        </div>
        <section>
            <span class="main-employee">Alkalmazottaid</span>
            <div class="activity-label-item1">
                <div id="item-1">
                    <h4>Molnár Tünde</h4>
                    <span>Fodrász,Kozmetika naptárak</span>
                </div>
            </div>
            <div class="activity-label-item2">
                <h4>Nagy Árpád</h4>
                <span>Fodrász,Kozmetika naptárak</span>
            </div>
            <div class="add-activity">
                <div class="plus-content">+</div> <a href="coming-soon.html">Új alkalmazott megadása</a>
            </div>
        </section>
        <footer>

            <div class="promotion-content2">
                <p class="footer-class1"><span class="promotion-span">Válts nagyobb csomagra most 20%
                        kedvezménnyel!</span> Lorem ipsum dolor sic</p>
                <!--<p class="footer-class2"><button class="add-package"> Ezt nem hagyom ki!</button> Csomagok megtekintése
                </p> -->
            </div>

        </footer>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/main.js">
</script>

</html>